<footer class="footer">

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <a class="site-logo" href="{{ "/" | relative_url}}">
        СВС
        </a>
        <p class="site-slogan">Производственная компания</p>

        <p class="copyright">ООО &laquo;СВС Пермь&raquo; &copy;&nbsp;2017 Все права защищены.</p>
      </div>

      <div class="col-md-4">
        <div class="nav-footer" role="navigation">
          {% assign pages_list = (site.pages | sort: 'order') %}

          {% for my_page in pages_list %}
            {% if my_page.title%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.header-name | escape }}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-md-4">

      </div>
    </div>


  </div>

</footer>