<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if page.url == my_page.url %}
              <a class="page-link is-active" href="{{ my_page.url | relative_url }}">{{ my_page.header-name | escape }}</a>
            {% else %}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.header-name | escape }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
