.production{

    @include respondTo(mobile){
        text-align: center;
    }

    & .card__title{
        min-height: 120px;
    }
}

.pull-right-reset{
    float: right;

    @include respondTo(mobile){
        float: none;
    }
}

.text-center{
    text-align: center;
}

.f-22{
    font-size: 2.2rem;
}