.production{

    @include respondTo(mobile){
        text-align: center;
    }

    & .card__title{
        min-height: 120px;
    }
}

.pull-right-reset{
    float: right;

    @include respondTo(mobile){
        float: none;
    }
}

.text-center{
    text-align: center;
}

.f-22{
    font-size: 2.2rem;
}

.gap-b-60{
    margin-bottom: 60px;
}

#name{
    @include respondTo(tablet){
        margin-bottom: 30px;
    }

    @include respondTo(small){
        margin-bottom: 20px;
    }
}