.production{

    @include respondTo(mobile){
        text-align: center;
    }

    & .card__title{
        min-height: 120px;
    }
}

.pull-right-reset{
    float: right;

    @include respondTo(mobile){
        float: none;
    }
}

.text-center{
    text-align: center;
}

.f-22{
    font-size: 2.2rem;
}

.gap-b-60{
    margin-bottom: 60px;
}

#name{
    @include respondTo(tablet){
        margin-bottom: 30px;
    }

    @include respondTo(small){
        margin-bottom: 20px;
    }
}

.content-img{
    @include respondTo(mobile){
        margin-bottom: 3rem;
    }

    &_mrg-top{
        @include respondTo(mobile){
            margin-top: 3rem;
        }
    }
}

hr{
    margin: 5rem 0;
    height: 1px;
    background-color: $border-color;

    @include respondTo(mobile){
        margin: 2rem 0;
    }
}

//search
.ya-site-form__input-text{
    height: 32px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 4px 8px;
    width: 100%;

    @include respondTo(mobile){
        //max-width: 300px;
    }
}

.ya-site-form__search-input{
    padding: 0 !important;
}

.ya-site-form__submit{
    height: 30px;
    border: 0;
    border-radius: 1px;
}
