body{
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333333;
}

.page-content{
    flex: 1;
}

a {
    outline: none !important;
}

img{
    max-width: 100%;
}

.section{
    padding: 4rem 0;

    &-title{
        text-align: center;
        font-size: 3.6rem;
        margin: 0 0 1.25em;
        text-transform: uppercase;
        color: $main-color;
    }
}