body{
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #333333;
}

.page-content{
    flex: 1;
}

a {
    outline: none !important;
}

img{
    max-width: 100%;
}

p{
    font-size: 1.6rem;
    line-height: 1.35;
    margin: 0 0 1.5em;
}

.section{
    padding: 5rem 0;

    &_border{
        border-top: 1px solid $main-color;
    }

    &-title{
        text-align: center;
        font-size: 3.6rem;
        margin: 0 0 1.25em;
        text-transform: uppercase;
        color: $main-color;

        @include respondTo(mobile){
            font-size: 2.4rem;
        }

        &_mrg-top{
            margin-top: 1.25em;
        }
    }
}

.proizvodstvo,
.material,
.about-us{
    border-top: 1px solid $main-color;

    @include respondTo(mobile){
        text-align: center;
        & img{
            margin-bottom: 25px;
        }

        & .btn{
            display: inline-block;
            min-width: 280px;
        }
    }
}

.material{
    background-color: #D1E0EB;
}

.c-section{
    margin: 6rem 0;
}