.footer{
    background-color: rgba(12, 60, 96, 1);
    padding: 30px 0;
}

.copyright{
    color: #fff;
    font-size: 1.2rem;
    white-space: nowrap;
    margin: 1.5em 0 0;
}

.nav-footer{
    display: flex;
    flex-direction: column;
    
    & .page-link{
        font-size: 1.6em;
        text-decoration: none;
    }
}