/**
 * Created by Pompo on 17.02.2017.
 */

.form{
  border-radius: 6px;
  border: 1px solid $border-color;
  margin-bottom: 60px;
  padding: 2rem;

  @include respondTo(mobile){
    margin-bottom: 20px;
  }

  @include respondTo(small){
    padding: 2rem 1rem;
  }

  &__title{
    text-align: center;
    font-size: 2.8rem;
    color: $main-color;
    border-bottom: 1px solid $border-color;
    margin: 0 0 30px;
    padding-bottom: 2rem;
  }

  &__row{
    margin-bottom: 30px;

    @include respondTo(small){
      margin-bottom: 20px;
    }

    &:after{
      content: '';
      display: table;
      clear: both;
    }

    &_last{
      margin-bottom: 0;
    }

    &_brd{
      border-top: 1px solid $border-color;
    }
  }

  &__btn{
    border: none;
    margin: 0 auto;
    min-width: 300px;

    @extend .btn;

    @include respondTo(small){
      min-width: 100%;
    }
  }

  &__txt{
    font-size: 1.4rem;
    margin: 1.6rem 0 0;
    position: relative;
    padding-left: 1.6rem;

    &:before{
      font-weight: 600;
      font-size: 2.8rem;
      position: absolute;
      content: '*';
      top: -7px;
      left: 0;
    }
  }
}

.reg{

  &-inp{
    width: 100%;
    border-radius: 2px;
    border: 1px solid $border-color;
    background: #fcfcfc;
    font-size: 1.4rem;
    padding: 1em .8em;
    color: #333;
    transition: all ease 300ms;

    &:focus{
      border-color: #c3c3c3;
      background-color: #eef5fa;
    }
  }

  &-lbl{
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 3px;
  }

  &-textarea{
   @extend .reg-inp;

    height: 260px;
    resize: none;
  }
}