<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>

{% include header.html %}

<main class="page-content" aria-label="Content">
  {{ content }}
</main>
<div  id="map">
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=obWm7xVXxbWm855SZwFfBgA08IrPLro-&amp;width=100%25&amp;height=480&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
</div>

{% include footer.html %}
<script
        src="http://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
